{% extends 'hospital/homebase.html' %}

{% block content %}

<br>
<br>

<div class="jumbotron" style="margin-bottom: 0;">
  <h1 class="display-4 text-center">Hello, Admin</h1>
  <p class="lead text-center">Welcome to Hospital Management System.</p>
  <hr class="my-4">
  <div class="text-center">
    <a class="btn btn-danger btn-lg mr-2" href="/adminsignup" role="button">Sign Up</a>
    <a class="btn btn-success btn-lg" href="/adminlogin" role="button">Login</a>
  </div>
</div>

{% endblock content %}
