{% extends 'hospital/admin_base.html' %}
{% load static %}
{% block content %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Latest compiled and minified CSS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
  <link rel="stylesheet" href="//cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">
  <script src="//cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
  <style type="text/css">
     h6 {
      color: white;
    }
    
    .fixed-top{
      position: absolute;
    }

   .chart{
    width: 100%;
    max-width: 768px;
    height: auto;
   }

   .bg-orange{
    color: rgb(255, 159, 64);
   }

  /* Media Query for smaller screens */
  @media only screen and (max-width: 768px) {
    /* Adjust table font size for smaller screens */
    table {
      font-size: 0.5rem; /* Adjust this value as needed */
    }

    /* Adjust th and td padding for smaller screens */
    th,
    td {
      padding: 0.10rem; /* Adjust this value as needed */
    }
  }

  /* Media Query for larger screens */
  @media only screen and (min-width: 768px) {
    /* Adjust table font size for larger screens */
    table {
      font-size: 0.825rem; /* Adjust this value as needed */
    }

    /* Adjust th and td padding for larger screens */
    th,
    td {
      padding: 0.75rem; /* Adjust this value as needed */
    }
  }

  </style>
  
<br><br><br>
{%include 'hospital/admin_dashboard_cards.html'%}
<div class="container-fluid">
  <div class="row">
    
    <div class="col-md-12">
      <div class="card border border-dark">
        <div class="card-header bg-primary text-white" style="text-align:center;">
          <h6 class="card-title">Active Doctors List</h6>
        </div>
        <div class="card-body">
          <div class="table-responsive p-4">
            <table id="dev-doctor-table" class="table table-hover table-striped py-3">
              <thead class="table-dark">
                <tr class="row">
                  <th class="col text-truncate">Name</th>
                  <th class="col text-truncate">Department</th>
                  <th class="col text-truncate">Contact</th>
                  <th class="col text-truncate">Status</th>
                </tr>
              </thead>
              <tbody>
                {% for d in doctors %}
                <tr class="row">
                  <td class="col text-truncate">{{d.get_name}}</td>
                  <td class="col text-truncate">{{d.department}}</td>
                  <td class="col text-truncate">{{d.mobile}}</td>
                  {% if d.status == 0 %}
                  <td class="col text-truncate"><span class="badge bg-primary w-100">On Hold</span></td>
                  {% elif d.status == 1 %}
                  <td class="col text-truncate"><span class="badge bg-success w-100">Available</span></td>
                  {% elif d.status == 2 %}
                  <td class="col text-truncate"><span class="badge bg-danger w-100">Not Available</span></td>
                  {% endif %}
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    

    <div class="col-lg-4 col-xl-4">
      <div class="card border border-dark">
        <div class="card-header bg-primary text-white" style="text-align:center;">
          <h6 class="card-title">Total Patients Data</h6>
        </div>
        <div class="card-body">
          <div class="d-flex justify-content-center" style="width:100%; overflow-x:auto;">
            <img class="chart" src="https://quickchart.io/chart?c={type:'doughnut',data:{labels:['Pending', 'Admitted', 'Total Patients'],datasets:[{label:'Count',data:[{{pendingpatientcount}},{{admittedpatientcount}},{{patientcount}}]}]}}">
          </div>
        </div>
        <div class="card-footer text-center text-dark">
          <div class="row"> 
            <div class="col-4 badge bg-primary flex-row">Pending: {{pendingpatientcount}}</div>
            <div class="bg-orange col-4 badge bg-warning text-dark">Admitted: {{admittedpatientcount}}</div>
            <div class="col-4 badge bg-danger">Total: {{patientcount}}</div>
          </div>  
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-xl-4">
      <div class="card border border-dark">
        <div class="card-header bg-primary text-white" style="text-align:center;">
          <h6 class="card-title">Patient Admission Timeline</h6>
        </div>
        <div class="card-body">
          <div class="d-flex justify-content-center" style="width:100%; overflow-x:auto;">
            <img class="chart" src="https://quickchart.io/chart?c={type:'line',data:{labels:[{% for date, count in admission_counts_list %}'{{ date }}',{% endfor %}],datasets:[{label:'Admissions',data:[{% for date, count in admission_counts_list %}{{ count }},{% endfor %}]}]}}">
          </div>
        </div>
        <div class="card-footer text-center text-dark">
          <div class="row"> 
            <div class="col-12 badge bg-light text-dark">Timeline of Patients Admissions</div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-xl-4">
      <div class="card border border-dark">
        <div class="card-header bg-primary text-white" style="text-align:center;">
          <h6 class="card-title">Appointment Data</h6>
        </div>
        <div class="card-body">
          <div class="d-flex justify-content-center" style="width:100%; overflow-x:auto;">
            <img class="chart" src="https://quickchart.io/chart?c={type:'pie',data:{labels:['Pending','Accepted','Completed'],datasets:[{label:'Count',data:[{{pendingappointmentcount}},{{acceptedappointmentcount}},{{completedappointmentcount}}]}]}}">
          </div>
        </div>
        <div class="card-footer text-center text-dark">
          <div class="row"> 
            <div class="col-4 badge bg-primary">Pending: {{pendingappointmentcount}}</div>
            <div class="col-4 badge bg-warning text-dark">Accepted: {{acceptedappointmentcount}}</div>
            <div class="col-4 badge bg-danger">Completed: {{completedappointmentcount}}</div>
          </div>  
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="card border border-dark">
        <div class="card-header bg-primary text-white" style="text-align:center;">
          <h6 class="card-title">Recent Patients</h6>
        </div>
        <div class="card-body">
          <div class="table-responsive  p-4">
            <table  id="dev-patient-table" class="table table-sm table-hover table-striped py-3">
              <thead class="table-dark">
                <tr class="row">
                  <th class="col text-truncate">Admission Date</th>
                  <th class="col text-truncate">Name</th>
                  <th class="col text-truncate">Contact</th>
                  <th class="col text-truncate">Status</th>
                </tr>
              </thead>
              <tbody>
                {% for p in patients %}
                <tr class="row">
                  {% with unix_timestamp=p.admit_date|date:"U" %}
                  <td class="col text-truncate" data-order="{{unix_timestamp}}">{{p.admit_date|date:"F d, Y"}}</td>
                  {% endwith %}
                  <td class="col text-truncate">{{p.get_name}}</td>
                  <td class="col text-truncate">{{p.mobile}}</td>
                  {% if p.status %}
                  <td class="col text-truncate"><span class="badge bg-success w-100">Admitted</span></td>
                  {% else %}
                  <td class="col text-truncate"><span class="badge bg-primary w-100">On Hold</span></td>
                  {% endif %}
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  let table1 = new DataTable('#dev-doctor-table');
  let table2 = new DataTable('#dev-patient-table',{
    "order": [[0, "desc"]]  // Sort by the first column (index 0) in descending order by default
  });
</script>
{% endblock content %}
