{% extends 'hospital/admin_base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <h2 class="mt-5 mb-4 text-center">Staff Details</h2>
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <div class="card-header bg-primary text-white">
                    <h3 class="card-title mb-0">Staff Information</h3>
                </div>
                {% if not is_Pharmacist %}
                <div class="card-body">
                    <div class="text-center mb-4">
                        {% if staff.profile_pic %}
                            <img src="{{ staff.profile_pic.url }}" alt="Profile Pic" style="width: 150px; height: 150px;">
                        {% else %}
                            <img src="{% static 'images/adminpropic.png' %}" alt="Profile Pic" style="width: 150px; height: 150px;">
                        {% endif %}
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">First Name: {{ staff.user.first_name }}</li>
                        <li class="list-group-item">Last Name: {{ staff.user.last_name }}</li>
                        <li class="list-group-item">Full Name: {{ staff.user.get_full_name }}</li>
                        <li class="list-group-item">Email: {{ staff.user.email }}</li>
                        {% if is_Admin %}
                            <li class="list-group-item">Position: Medical Staff Admin</li>
                        {% endif %}
                        {% if not is_Admin %}
                            <li class="list-group-item">Position: Receptionist</li>
                        {% endif %}
                        <li class="list-group-item">Contact: {{ staff.mobile }}</li>
                        <li class="list-group-item">Address: {{ staff.address }}</li>
                    </ul>
                </div>
                {% endif %}

                {% if is_Pharmacist %}
                <div class="card-body">
                    <div class="text-center mb-4">
                        {% if staff.profile_pic %}
                            <img src="{{ staff.profile_pic.url }}" alt="Profile Pic" style="width: 150px; height: 150px;">
                        {% else %}
                            <img src="{% static 'images/adminpropic.png' %}" alt="Profile Pic" style="width: 150px; height: 150px;">
                        {% endif %}
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">First Name: {{ staff.user.first_name }}</li>
                        <li class="list-group-item">Last Name: {{ staff.user.last_name }}</li>
                        <li class="list-group-item">Full Name: {{ staff.user.get_full_name }}</li>
                        <li class="list-group-item">Email: {{ staff.user.email }}</li>
                        <li class="list-group-item">Position: Pharmacist</li>
                        <li class="list-group-item">Specialization: {{staff.specialization}}</li>
                        <li class="list-group-item">Contact: {{ staff.contact_phone }}</li>
                        <li class="list-group-item">Address: {{ staff.address }}</li>
                    </ul>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}