{% extends 'hospital/admin_base.html' %}
{%load static%}
{% load widget_tweaks %}
{% block content %}

<head>
  <style media="screen">
    a:link {
      text-decoration: none;
    }

    .fixed-top{
      position: absolute;
    }

    .note {
      text-align: center;
      height: 80px;
      background: -webkit-linear-gradient(left, #0072ff, #8811c5);
      color: #fff;
      font-weight: bold;
      line-height: 80px;
    }

    .form-content {
      padding: 5%;
      border: 1px solid #ced4da;
      margin-bottom: 2%;
    }

    .form-control .form-floating{
      border-radius: 10px;
    }

    .btnSubmit {
      border: none;
      border-radius: 1.5rem;
      padding: 1%;
      width: 20%;
      cursor: pointer;
      background: #0062cc;
      color: #fff;
    }

    
  </style>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>
<br><br><br>
<form class="was-validated" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="container register-form">
    <div class="form">
      <div class="note">
        <p>Register Patient to Hospital</p>
      </div>
      
      <div class="form-content">
        <!-- Alert Messages -->
        <div class="alert-container">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}
          </div>
        <center>
            <img class="mb-3" id="preview" src="{% static 'images/profile.webp' %}" alt="Preview" style="max-width: 100%; max-height: 9.5em;">
        </center>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    {% render_field patientForm.profile_pic class="form-control mb-1" onchange="previewImage(this)" %}
                    <div class="invalid-feedback">
                        Please upload your profile picture.
                    </div>
                    <div class="valid-feedback">
                        Looks nice!
                    </div>
                </div>
            </div>

            <div class="col-md-6">
              
              <div class="form-floating">
                {% render_field patientForm.assigned_doctor_id class="form-control" placeholder="Doctor" %}
                <label for="floatingDoctor">Choose Doctor:</label>
                <div class="invalid-feedback">
                    Please choose your doctor.
                </div>
                <div class="valid-feedback">
                    Good, All Set!
                </div>
            </div>
                
              <div class="form-floating">
                    {% render_field patientForm.symptoms class="form-control" placeholder="Symptoms" %}
                    <label for="floatingSymptoms">Symptoms:</label>
                    <div class="invalid-feedback">
                      Please provide current symptoms or any conditions.
                    </div>
                    <div class="valid-feedback">
                        I got you!
                    </div>
                </div>
                <div class="form-floating">
                    {% render_field userForm.first_name class="form-control" placeholder="First Name" %}
                    <label for="floatingFirstName">First Name:</label>
                    <div class="invalid-feedback">
                        Please provide your first name.
                    </div>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="form-floating">
                    {% render_field userForm.last_name class="form-control" placeholder="Last Name" %}
                    <label for="floatingLastName">Last Name:</label>
                    <div class="invalid-feedback">
                        Please provide your last name.
                    </div>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="form-floating">
                    {% render_field patientForm.gender class="form-control" %}
                    <label for="floatingGender">Gender:</label>
                    <div class="invalid-feedback">
                        Provide a valid gender
                    </div>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="form-floating">
                    {% render_field patientForm.date_of_birth class="form-control" %}
                    <label for="floatingDateOfBirth">Date of Birth:</label>
                    <div class="invalid-feedback">
                        Please provide your date of birth.
                    </div>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
            </div>
            
            <div class="col-md-6">
                <div class="form-floating">
                    {% render_field userForm.username class="form-control" placeholder="Username" %}
                    <label for="floatingUsername">Username:</label>
                    <div class="invalid-feedback">
                        Please provide a username.
                    </div>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="input-group mb-4 flex-nowrap">
                    <button class="btn btn-outline-primary" type="button" id="togglePassword1">
                      <i class="bi bi-eye-fill"></i>
                    </button>
                    <div class="form-floating flex-grow-1">
                        {% render_field userForm.password1 class="form-control" placeholder="Password" id="floatingPassword1" pattern="^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*\W)(?!.* ).{8,32}$" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Password must contain at least one digit, one lowercase letter, one uppercase letter, one special character, and be between 8 to 32 characters long" %}
                      <label for="floatingPassword1">Password</label>
                    </div>
                    
                  </div>
                  
                  <div class="input-group mb-4  flex-grow-1 flex-nowrap">
                      <button class="btn btn-outline-primary" type="button" id="togglePassword2">
                        <i class="bi bi-eye-fill"></i>
                      </button>
                    <div class="form-floating flex-grow-1">
                      {% render_field userForm.password2 class="form-control" placeholder="Repeat Password" id="floatingPassword2" pattern="^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*\W)(?!.* ).{8,32}$" pattern="^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*\W)(?!.* ).{8,32}$" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Repeat your Password for Verification" %}
                      <label for="floatingPassword1">Repeat Password</label>
                    </div>
                  </div>
                <div class="form-floating">
                    {% render_field patientForm.address class="form-control" placeholder="Address" %}
                    <label for="floatingAddress">Address:</label>
                    <div class="invalid-feedback">
                        Please provide your address.
                    </div>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="form-floating">
                    {% render_field patientForm.mobile class="form-control" placeholder="Contact Number" pattern="(^(\+)(\d){12}$)|(^\d{11}$)" %}
                    <label for="floatingContactNumber">Contact Number:</label>
                    <div class="invalid-feedback">
                        Please provide a valid contact number(e.g: 09172464146 or +639172464146).
                    </div>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="form-floating">
                    {% render_field userForm.email class="form-control" placeholder="Email" %}
                    <label for="floatingEmail">Email:</label>
                    <div class="invalid-feedback">
                        Please provide a valid email address (e.g: johndoe@domain.com).
                    </div>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
            </div>
        </div>
        <center><button type="submit" class="btnSubmit">Register</button></center>
        <div class="text-center">Already have an account? <a href="patientlogin">Login here</a></div>
    </div>
    </div>
  </div>
</form>
<script>
  document.addEventListener("DOMContentLoaded", function() {
      const passwordField1 = document.getElementById('floatingPassword1');
      const togglePassword1 = document.getElementById('togglePassword1');
      const eyeIcon1 = document.querySelector('i');

      const passwordField2 = document.getElementById('floatingPassword2');
      const togglePassword2 = document.getElementById('togglePassword2');
      const eyeIcon2 = document.querySelector('i');
  
      togglePassword1.addEventListener('click', function() {
        const type = passwordField1.getAttribute('type') === 'password' ? 'text' : 'password';
        passwordField1.setAttribute('type', type);
        this.innerHTML = type === 'password' ? '<i class="bi bi-eye-fill"></i>' : '<i class="bi bi-eye-slash-fill"></i>';
      });

      togglePassword2.addEventListener('click', function() {
        const type = passwordField2.getAttribute('type') === 'password' ? 'text' : 'password';
        passwordField2.setAttribute('type', type);
        this.innerHTML = type === 'password' ? '<i class="bi bi-eye-fill"></i>' : '<i class="bi bi-eye-slash-fill"></i>';
      });

    });

    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl)
    })
    
  function previewImage(input) {
      var preview = document.getElementById('preview');
      var file = input.files[0];
      var reader = new FileReader();

      reader.onloadend = function () {
          preview.src = reader.result;
      };

      if (file) {
          reader.readAsDataURL(file);
      } else {
          preview.src = "{% static 'images/profile.webp' %}";
      }
  }
</script>

{% endblock content %}
