{% extends 'hospital/admin_base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
  <style>
    body {
      font-size: 1rem;
    }
    
    a:link {
      text-decoration: none;
    }

    .fixed-top{
      position: absolute;
    }

    .note {
      text-align: center;
      height: 80px;
      background: -webkit-linear-gradient(left, #0072ff, #8811c5);
      color: #fff;
      font-weight: bold;
      line-height: 80px;
    }

    .form-content {
      padding: 5%;
      border: 1px solid #ced4da;
      margin-bottom: 2%;
    }

    .form-control, .form-floating {
      border-radius: 10px;
    }

    .btnSubmit {
      border: none;
      border-radius: 1.5rem;
      padding: 1%;
      width: 20%;
      cursor: pointer;
      background: #0062cc;
      color: #fff;
    }
    

    
  </style>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  

</head>
<br><br><br>
<form class="was-validated" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="container register-form">
      <div class="form">
          <div class="note">
              <p>Apply Doctor To Clinic</p>
          </div>
          <div class="form-content">
            <!-- Add this code where you want to display alerts -->
            <div class="alert-container">
              {% for message in messages %}
                {% if messages %}
                      <div class="alert alert-danger alert-dismissible fade show" role="alert">
                          {{ message }}
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                          </button>
                      </div>
                  {% endif %}
              {% endfor %}
            </div>
              <div class="row">
                  <div class="col-md-6 mt-4">
                      
                      <div class="form-floating">
                        {% render_field form.first_name class="form-control" placeholder="First Name" %}
                        <label for="floatingFirstName">First Name</label>
                        <div class="valid-feedback">
                          Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Provide your First Name
                        </div>
                      </div>
                      
                      <div class="form-floating">
                        {% render_field form.last_name class="form-control" placeholder="Last Name" %}
                        <label for="floatingLastName">Last Name</label>
                        <div class="valid-feedback">
                          Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Provide your Last Name
                        </div>
                      </div>
                      
                      <div class="form-floating">
                        {% render_field form.username class="form-control" placeholder="Username" %}
                        <label for="floatingUsername">Username</label>
                        <div class="valid-feedback">
                          Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Provide a Username
                        </div>
                      </div>
                      
                      <div class="form-floating">
                        {% render_field form.email class="form-control" placeholder="Email" %}
                        <label for="floatingEmail">Email</label>
                        <div class="valid-feedback">
                          Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Provide a valid Email
                        </div>
                      </div>

                      <div class="form-floating">
                        {% render_field profile_form.address class="form-control" placeholder="Address" %}
                        <label for="floatingAddress">Address</label>
                        <div class="valid-feedback">
                          Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Provide your Address
                        </div>
                      </div>
                      
                      <div class="input-group mb-3 flex-nowrap">
                        <button class="btn btn-outline-primary" type="button" id="togglePassword1">
                          <i class="bi bi-eye-fill"></i>
                        </button>
                        <div class="form-floating flex-grow-1">
                            {% render_field form.password1 class="form-control" placeholder="Password" id="floatingPassword1" pattern="^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*\W)(?!.* ).{8,32}$" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Password must contain at least one digit, one lowercase letter, one uppercase letter, one special character, and be between 8 to 32 characters long" %}
                          <label for="floatingPassword1">Password</label>
                        </div>
                        
                      </div>
                      
                      <div class="input-group mb-3  flex-nowrap">
                          <button class="btn btn-outline-primary" type="button" id="togglePassword2">
                            <i class="bi bi-eye-fill"></i>
                          </button>
                        <div class="form-floating flex-grow-1">
                          {% render_field form.password2 class="form-control" placeholder="Repeat Password" id="floatingPassword2" pattern="^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*\W)(?!.* ).{8,32}$" pattern="^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*\W)(?!.* ).{8,32}$" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Repeat your Password for Verification" %}
                          <label for="floatingPassword1">Repeat Password</label>
                        </div>
                      </div>
                   
                    </div>
                    
                    <div class="col-md-6 p-1">
                      <center>
                        <label for="{{ profile_form.profile_pic.id_for_label }}">Profile Picture</label>
                        <img class="mb-4" id="preview" src="{% static 'images/profile.webp' %}" alt="Preview" style="max-width: 100%; max-height: 150px; display: block;">
                      </center>
                      <div class="form-group mb-2">
                        {% render_field profile_form.profile_pic class="form-control" onchange="previewImage(this)" %}
                        <div class="valid-feedback">
                          Looks nice!
                        </div>
                        <div class="invalid-feedback">
                            Provide your Profile Picture
                        </div>
                      </div>
                      <div class="form-floating">
                        {% render_field profile_form.department class="form-control" placeholder="Department" %}
                        <label for="{{ profile_form.department.id_for_label }}">Department</label>
                        <div class="valid-feedback">
                          Looks great!
                        </div>
                        <div class="invalid-feedback">
                            Provide your Department(Specialty)
                        </div>
                      </div>
                      <div class="form-floating">
                        {% render_field profile_form.license_num class="form-control" placeholder="1234567"%}
                        <label for="{{ profile_form.license_num.id_for_label }}">License Number:</label>
                        <div class="valid-feedback">
                          Looks great!
                        </div>
                        <div class="invalid-feedback">
                            Provide your PRC License Number.
                        </div>
                      </div>
                      <div class="form-floating">
                        {% render_field profile_form.mobile class="form-control" placeholder="Contact" pattern="(^(\+)(\d){12}$)|(^\d{11}$)" %}
                        <label for="floatingMobile">Contact</label>
                        <div class="valid-feedback">
                          Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Provide a valid Contact Number (e,g: 09172464146 or +639172464146)
                        </div>
                      </div>
                  </div>
              </div>
                  <center><button type="submit" class="btnSubmit">Apply</button></center> 
                  <div class="text-center">Already have an account? <a href="/doctorlogin">Login here</a></div>
              </div>
             
          </div>
      </div>
  </div>
</form>

<script>
  document.addEventListener("DOMContentLoaded", function() {
      const passwordField1 = document.getElementById('floatingPassword1');
      const togglePassword1 = document.getElementById('togglePassword1');
      const eyeIcon1 = document.querySelector('i');

      const passwordField2 = document.getElementById('floatingPassword2');
      const togglePassword2 = document.getElementById('togglePassword2');
      const eyeIcon2 = document.querySelector('i');
  
      togglePassword1.addEventListener('click', function() {
        const type = passwordField1.getAttribute('type') === 'password' ? 'text' : 'password';
        passwordField1.setAttribute('type', type);
        this.innerHTML = type === 'password' ? '<i class="bi bi-eye-fill"></i>' : '<i class="bi bi-eye-slash-fill"></i>';
      });

      togglePassword2.addEventListener('click', function() {
        const type = passwordField2.getAttribute('type') === 'password' ? 'text' : 'password';
        passwordField2.setAttribute('type', type);
        this.innerHTML = type === 'password' ? '<i class="bi bi-eye-fill"></i>' : '<i class="bi bi-eye-slash-fill"></i>';
      });

    });

    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl)
    })

  function previewImage(input) {
      var preview = document.getElementById('preview');
      var file = input.files[0];
      var reader = new FileReader();

      reader.onloadend = function () {
          preview.src = reader.result;
          preview.style.display = 'block';
      };

      if (file) {
          reader.readAsDataURL(file);
      } else {
          preview.src = "#";
         
      }
  }
</script>

{% endblock content %}